body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.INFOSEC {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info {
    flex: 1; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.info p {
    font-size: 18px;
    color: #333;
}

.image-container {
    flex: 1; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.item {
    list-style-type: none;
}

.item p {
    margin-top: 25px;
    font-size: 2ch;
    text-align: justify;
    width: 95%;
}

.bold-title{
    font-weight:bold ;
    font-size:larger;
    text-align: center;
}

.flip-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


.flip-box {
    background-color: transparent;
    width: 320px;
    height: 320px;
    perspective: 1000px; 
}


.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}


.flip-box-front {
    background-color: #3498db; 
}


.flip-box-back {
    background-color: #449edacc;; 
    transform: rotateY(180deg);
}
.flip-box-back p{
      text-align: justify;
      margin-left: 1cm;
      margin-right: 1cm;
}


.box-title {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
}


