body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: black;
    margin: 30px 0 50px;
}

.gallery{
    margin: 10px 100px;
}

.gallery img{
    width: 350px;
    padding: 5px;
    transform: 1s;
}

.gallery img:hover{
    transform: scale(1.1);
}

