* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
 section {
    padding: 20px;
}

 button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

  .container {
    display: flex;              
    align-items: center;        
    justify-content: space-between; 
    padding: 20px;
    gap: 20px; 
    background-color: #f5cac3 
     ;              
  }
  
  .image-column {
    flex: 1;                    
  }
  
  .image-column img {
    max-width: 300px;           
    height:300px; 
    border-radius: 10px;  
  
  }
  
  .text-column {
    flex: 2;                    
    padding-left: 20px;
    
     
  }
  
  h2 {
    margin-top: 10px;
  }
  
  p {
    line-height: 1.6;
  }

  .text-column1{
    flex: 2;
    padding-left: 20px;
    background-color:#d8e2dc  ;
  }

  .text-column2{
    flex: 2;
    padding-left: 20px;
    background-color:#c9ada7;
  }

  .text-column3{
    flex: 2;
    padding-left: 20px;
    background-color:#caf0f8 ;
  }

  .text-columm4{
    flex: 2;
    padding-left: 20px;
    background-color:#90a955 ;
  }


  