*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-inner img{
    width: 100%;
    height: 80vh;
 
}

.nav-logo{
    margin: 0px;
    padding: 0px;
    height: 8%;
    width: 8%;
    border-radius: 50%;

}

.logo{
   background-image: url('logo udachiwadi.jpg'); 
   background-size: cover;
   height: 90px;
   width: 90px;
   border-radius: 50%;
}

