*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-inner img{
    width: 100%;
    height: 80vh;
 
}

.nav-logo{
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 80px;
    border-radius: 50%;

}

.logo{
   background-image: url(Screenshot_2024-08-25-19-28-13-78_99c04817c0de5652397fc8b56c3b3817-removebg-preview.png); 
   background-size: cover;
   height: 90px;
   width: 90px;
   border-radius: 50%;
}

